@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #CCD6A6;
    color: #181D31;
    font-family: 'Orbitron', sans-serif;
}

/* To center everything in game */
.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* Title of the game */
.title {
    position: absolute;
    top: 30px;
    font-weight: bold;
    font-size: 4rem;
    z-index: 2;
}

/* Score Board */
.score {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 170px;
    z-index: 1;
}

/* Score  */
.p-count,
.c-count {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* displaying three buttons in one line */
.options {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 3rem;
}

/* Styling on all three buttons */
.button {
    padding: 1rem;
    width: 150px;
    border-radius: 10px;
    background: #2D033B;
    font-size: 20px;
    color: #CCD6A6;
    outline: none;
    border: 1px solid #2D033B;

    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #CCD6A6;

    color: #2D033B;
}

.move {
    font-size: 2rem;
    font-weight: bold;
}

.movesleft {
    font-size: 30px;
    color: #ce8e06;
}

/* Reload button style */
.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: #FB2576;
    font-size: 20px;

    color: #2D033B;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
}